body {
     background-image: url('images/bg.jpg');
}

.content {
    border: 10px solid white;
    background: white;
    margin-right: 10%;
    margin-left: 10%;
}

#header {
    background: #A8F0F0;
    text-align: right;
}

.heading-text {
    font-size: 14pt;
}

.section {
    border: 4px solid #C2E9E9;
    background: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    overflow: hidden;
}

img {
    float: right;
}

.date {
    border-bottom: 2px dashed blue; 
}